html,
body {
	height: 100%;
	font-size: 20px;
}

html {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

main {
	min-height: 100vh;
}

ul,
ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

img {
	display: block;
	max-width: 100%;
	object-fit: cover;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	border: none;
	background: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}
